body {
    background: rgb(0,8,36);
    background: linear-gradient(90deg, rgba(0,8,36,0.9024859943977591) 0%, rgba(121,9,94,0.7288165266106443) 48%, rgba(0,212,255,0.9753151260504201) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    background-color: #af58d4;
    color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4099cd;
    transition-duration: 2s;
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
}

.question {
    padding: 30px
}

#show {
    margin: auto;
    margin-top: 10px;
}